[2015-01-22 15:11] hbrunn opened #10 "lettermgmt: semantics of send_id, recipient_ids, partner_id, extern_partner_ids"
@bwrsandman,

I'm now busy porting lettermgmt to 8.0 and I'm a bit confused about the semantics of the fields mentioned above. In 6.0, there was snd_rec_id and partner_id which was respectively the user who sent a letter and the partner to receive it if it's an outgoing letter, while snd_rec_id was the addressee and partner_id the sender if it's an incoming letter.

Now in 7.0, the incoming letter

[2015-01-22 19:43] bwrsandman commented on #10
It's probably a mistake on my part. We ended up not using `lettermgmt`.

It's been a while since I touched `lettermgmt`, it might not have fully been ported.

[2015-01-22 21:20] hbrunn commented on #10
thanks @bwrsandman, so if I PR some changes to 7.0 following the lines above you wouldn't mind?

[2015-01-23 20:37] bwrsandman commented on #10
Go for it!

[2015-09-28 05:00] alanljj opened #50 "can't delete contact after install mass_mailing_partner"
when I try to delete any contact, the error shows:

AccessError

No value found for res.partner(7143,).mass_mailing_contacts

May I ask how to solve the problem? Thanks!

[2015-09-28 07:19] pedrobaeza commented on #50
I think the problem is with _partner_relations_, not with this module. Do you have it installed?

[2015-09-28 09:00] alanljj commented on #50
yes, I installed it. Thanks!

[2015-09-28 09:53] pedrobaeza commented on #50
Then the correct issue is https://github.com/OCA/partner-contact/issues/154.

[2015-09-28 09:53] #50 closed, assigned to nobody

[2015-10-14 00:24] pedrobaeza opened #58 "Migration to version 9.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-9.0
# Modules to migrate
- [ ] crm_action - By @atularvind - #119
- [x] crm_claim_code - By @cyrillgdn - #90
- [ ] crm_claim_merge here - By @mdietrichc2c - #93
- [x] crm_claim_type - By @cyrilgdn - #92
- [x] crm_deduplicate_acl - By @cubells - #122
- [x] crm_deduplicate_by_website - By @cubells - #127
- [x] crm_deduplcate_f

[2015-10-21 11:16] pablocm-aserti opened #59 "crm_location: Field location_id not showing due to dynamic view formatting"
The field location_id is not displayed in the lead and opportunity view once you configure the user's company country due to the dynamic view formatting that takes place [here](https://github.com/odoo/odoo/blob/248d4a32d9f41ac3207c82eb0b9ea82074ec64c8/openerp/addons/base/res/res_partner.py#L63-L77)

Steps to reproduce
1. Install crm_location in an empty new database. The country must not be set on

[2015-10-21 11:19] pedrobaeza commented on #59
cc @JavierIniesta @antespi

[2015-11-16 20:04] CarlesAntoli opened #68 "Error al instalar módulo mass_mailing_partner"
Me muestra el siguiente error al instalar el módulo- "El(los) campo(s) `res_model, src_model` fallaron contra la restricci\xf3n: Nombre de modelo no v\xe1lido en la definici\xf3n de acci\xf3n." while parsing file:///D:/Biblioteca/Extra_Addons/base-crm-sale/mass_mailing_partner/wizard/partner_mail_list_wizard.xml:11, near
<act_window name="Add to mailing list" res_model="partner.mail.list.wizard" s

[2015-11-16 20:18] rafaelbn commented on #68
Hi @CarlesAntoli ,

I have tested in runbot with a base database http://3119831-8-0-482f9c.runbot2.odoo-community.org and it install properly.

This should be an issue of you local environment.

Thanks
Regards

[2015-11-16 20:18] #68 closed, assigned to nobody

[2015-11-24 13:59] aristobulo-eezee opened #69 "[8.0] crm_claim_type fails at update"
Commit: 542109b02551d82e6f4ab29ab96cae34139e2fbe

When I try to update all modules it breaks

[code]

[2015-11-24 16:06] osvalr commented on #69
Hi @aristobulo-eezee,

Can you add steps to reproduce the error? I've tested out and cannot reproduce the error,
Can you add to the issue description a more detailed information about it?

By the way, I don't see the commit at OCA/crm

Thanks in advance

[2015-12-10 11:47] davidperezgar opened #71 "In crm_lead_website should have as clicable the link"
Otherwise, you have to copy and paste the URL.

[2015-12-22 14:49] yajo opened #73 "I cannot login in runbots' "all" database"
Whenever I do it, in any runbot, it throws a 404 error. Refreshing the page leads me to login again.

[2016-03-02 07:53] pedrobaeza commented on #73
Is this solved?

[2016-03-02 07:54] pedrobaeza commented on #59
@antespi, can you tell something about this?

[2016-03-02 07:54] pedrobaeza commented on #10
Can this be closed?

[2016-03-02 07:54] pedrobaeza commented on #69
As there's no answer since November, I close this one.

[2016-03-02 07:54] #69 closed, assigned to nobody

[2016-03-02 07:55] hbrunn commented on #10
yes

[2016-03-02 07:55] #10 closed, assigned to nobody

[2016-03-02 07:57] pedrobaeza commented on #71
Fixed in https://github.com/OCA/crm/commit/07931664cdaa25e0db61959fb94e3113abc1db0a

[2016-03-02 07:57] #71 closed, assigned to nobody

[2016-03-02 08:14] yajo commented on #73
Yes, sorry.

[2016-03-02 08:14] #73 closed, assigned to nobody

[2016-03-04 18:44] rafaelbn commented on #59
I get this error when I go to leads:

[code]

[2016-03-10 15:16] ivantodorovich opened #82 "Is Transifex working for this repository?"
I can't find this project on Transifex.

[2016-03-10 16:44] ivantodorovich opened #83 "[8.0][lettermgmt] Module simplification"
I intend to use lettermgmt in our own company, but I found the module to be too much complicated for our current needs.

I'm wondering if @hbrunn or @bwrsandman can throw some clarification on a few things. I intend to improve the readme once I get a full sense of the module, and to further develop it.
### Letter States / Workflow

_Draft -> Created -> Validated -> Sent_

What's the purpose of thi

[2016-03-10 16:48] max3903 commented on #82
Answer is no:
https://github.com/OCA/crm/blob/9.0/.travis.yml

https://github.com/OCA/maintainer-quality-tools/blob/master/sample_files/.travis.yml#L36

[2016-03-10 16:55] ivantodorovich commented on #82
Thank you for your response.

Although it was a somewhat rhetorical question. I'm not familiar with Transifex and how to make it work. Not even sure if I have access rights to do so.

To make it work one should only add those `env:` lines to `.travis.yml`? If so, I'm willing to do so.

[2016-03-10 16:56] max3903 commented on #83
@bwrsandman worked on it for a large organization with a internal courrier service in charge of receiving and shipping letters and parcels internally and externally.

# Workflow

You can have people creating the letter and people verifying that the information entered in the system is the one on the letters/parcels.

# Fields

parent: You can have one incoming shipment spread out among many letter

[2016-03-10 16:59] max3903 commented on #82
Transifex configuration is just about adding those lines:
https://github.com/OCA/maintainer-quality-tools/blob/master/sample_files/.travis.yml#L35
https://github.com/OCA/maintainer-quality-tools/blob/master/sample_files/.travis.yml#L36
https://github.com/OCA/maintainer-quality-tools/blob/master/sample_files/.travis.yml#L43
https://github.com/OCA/maintainer-quality-tools/blob/master/sample_files/.t

[2016-03-10 17:19] #82 closed, assigned to nobody

[2016-03-10 18:05] ivantodorovich commented on #83
Thanks for the clarification! :+1:

I'll wait for the others' response

[2016-03-14 13:01] mamaf opened #86 "Question about Mandatory Partner and Partner Tag in mailing list form"
module: mass_mailing_partner
version: 8.0

This is just a question : I can't see the usfullness of Mandatory Partner and Partner Tag in mailing list form
Could you explain how i'ts used

Thanks in advance

[2016-03-15 10:33] hbrunn commented on #83
I just ported what existed, and actually wrote a module that dumbs this down be removing all fields you ask about save for `class`, `channel` and `type`. About those, have a look at the demo data in https://github.com/OCA/crm/blob/8.0/lettermgmt/data/letter_demo.xml to confirm you're mostly right about their use.

[2016-03-15 20:31] ivantodorovich commented on #83
Thank you @hbrunn !

That module you wrote, the one that dumbs this down, is it public?

I'd like to hear your thought and @bwrsandman's about splitting this module in a few: a simplified base + specific extensions. I'll gladly make that PR, but only with your approval.

[2016-03-15 20:51] hbrunn commented on #83
the dumbing down module is not public, but only for the reason I figured it's not interesting for anyone. Your proposal sounds a lot better to me. @bwrsandman doesn't work on Odoo any more to my knowledge, so I'm not sure he's interested in being involved here

[2016-03-15 20:53] hbrunn commented on #83
maybe for compatibility keep lettermgmt depending on letter_management, letter_managemet_channel, letter_management_etc?

[2016-03-15 21:01] ivantodorovich commented on #83
That sounds good to me.
Although I have to ask, is it a standard practice in these cases?
For how long should lettermgmt be supported?

[2016-03-15 21:03] max3903 commented on #83
@ivantodorovich It will be supported as long as there are people to support it for users who uses it.

[2016-03-15 21:24] ivantodorovich commented on #83
@max3903 I don't think we are talking about the same thing. I meant that question in response to @hbrunn's idea.

[2016-03-15 21:52] ivantodorovich commented on #83
Ok, so.. to sketch resulting modules:
- `letter_management`: The base module. As simple as possible. I'm thinking on supporting current 'classes' (Personal, Confidential, Classified) as 'tags' instead.
- `letter_management_channel`: Add support for letter channels (Post, FedEx, UPS)
- `letter_management_type`: Add support for letter types (Envelope, Parcel)
- `letter_management_folder`: Add suppor

[2016-03-15 21:53] ivantodorovich commented on #83
Maybe `channel`, `type` and `folder` can be unified in a single `letter_management_extended` module..

[2016-03-15 21:59] hbrunn commented on #83
it's quite usual to do this when you do refactorings in a branch where the module potentially already is installed in the wild. If you plan to do the refactoring during your port to 9.0, we don't need it. An example is `base_contact` which we split up in 8.0 I think: https://github.com/OCA/partner-contact/tree/8.0/base_contact

There you also find examples for moving xmlids to the new modules whic

[2016-03-15 22:02] hbrunn commented on #83
or what comes to my mind only now: How about attaching the fields in question to groups and make a configuration page that allows users to turn on the fields? Then only the workflow would need its own module, the rest would live in the main module and being turned off by default.

[2016-03-15 22:18] ivantodorovich commented on #83
I understand.

Using groups would work for the extended fields and shipments, indeed.
I don't have much experience developing for the OCA, so I'll go whatever way you want!
Do do you think it's better to handle it using groups?

EDIT: Based on what they did on `base_contact`, it seems the way to go is having separate modules for the fields. (ie: `partner_contact_birthdate`, `partner_contact_in_sev

[2016-03-15 22:20] ivantodorovich commented on #83
Taking from what they did on `base_contact`, it seems the way to go is having separate modules for the fields.

[2016-03-16 07:29] hbrunn commented on #83
in the case of `base_contact`, I think it's a good thing to have separate modules because those fields have nothing in common at all. Here, we need the base module anyways because it's a dependency for all the +1field modules, and given the amount of fields, we'd have quite a proliferation of modules, which is why I think the groups are a better choice

[2016-03-17 00:03] ivantodorovich commented on #83
After thinking it a bit more, I'm more inclined to this idea:
- Use group for `reassignments`
- Use group for `parent_id`, `child_ids`
- Use module for `letter_management_validation_workflow`

And for the rest of the fields, I'll just rearrange the view and move them into an "Other information" tab. leaving only the most common fields at the top of the form.

[2016-03-21 11:43] miscs opened #88 "crm_action: actions lost on merge"
Hi,

I am using odoo 8 with installed crm_action, which works quite well. The only problem I encountered ist that when I merge a lead with an existing opportunity all actions from the lead are lost (deleted).

Is this by design? When I convert a lead to a new opportunity the actions are still accessible from the newly created opportunity.

Thanks!
Steve

[2016-03-28 21:42] mmalorni commented on #58
There seems to be a lot less modules in the V9 than in the V8. Is there a reason some modules are not displayed in the readme.md file? Are some modules not at all compatible with the V9. (like the phone call modules since they were removed from community and available only in the enterprise version).  Would it  be a good place to put the old v8 Phone Log and upgrade it to v9 community?

[2016-03-29 00:16] pedrobaeza commented on #58
This is because the modules were added after the creation of the 9.0 branch. You can include them without problem following the procedure: https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-9.0

[2016-04-27 13:35] cyrilgdn commented on #58
crm_claim_type: https://github.com/OCA/crm/pull/92

[2016-05-03 14:51] mdietrichc2c commented on #58
Ported 7.0 module `crm_claim_merge` here: https://github.com/OCA/crm/pull/93

[2016-05-19 09:44] pedrobaeza commented on #88
This is not by design, but it's also a non covered-feature and debatable one. You want to have the actions from the lead, but others can say that the actions should be the ones from the opportunity (which is the current behavior).

If you want this behavior, develop it and propose it as a PR, and with a configurable parameter, for sure it will be accepted.

[2016-05-19 09:44] #88 closed, assigned to nobody

[2016-05-20 08:46] miscs commented on #88
Thanks for your reply!

This even happens when I merge two leads, which is a wrong behaviour in my opinion.

I have made a small chance which keeps all actions on merge but without configurable parameter. Since the addon doesn't have a config-gui and I am not experienced with odoo development this is a bit out of scope for me :(Is there a way to have a parameter somewhere in the addon-files?

If y

[2016-05-20 08:56] pedrobaeza commented on #88
If you can provide the PR, it would be welcome.

[2016-07-01 16:09] CarlesAntoli opened #103 "8.0 - crm.action - Migration error from 8.0.1.1.0"
Migrating to versión 8.0.1.2.0 from version 8.0.1.1.0 crm.action module displays the following error:

`Traceback (most recent call last):
  File "/home/odoo/odoo-dev/odoo/openerp/service/server.py", line 936, in preload_registries
    registry = RegistryManager.new(dbname, update_module=update_module)
  File "/home/odoo/odoo-dev/odoo/openerp/modules/registry.py", line 370, in new
    openerp.modu

[2016-10-06 12:50] pedrobaeza opened #117 "Migration to version 10.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-10.0
# Modules to migrate
- [ ] crm_action - ~~By @qtheuret - #147~~ By @dsidorenkovas-rg - #211
- [x] crm_claim - From Odoo core in 9.0 - By @cubells - #170
- [x] crm_claim_code - By @cubells - #171
- [x] crm_claim_type - By @bodedra - #180
- [x] crm_deduplicate_acl - By @luismontalba - #152
- [x] crm_deduplicate_filter - B

[2016-10-16 10:05] pedrobaeza commented on #83
Closing as there's a PR now

[2016-10-16 10:05] #83 closed, assigned to nobody

[2016-10-16 10:09] pedrobaeza commented on #59
It seems that this was solved in https://github.com/odoo/odoo/commit/906bf16a7617a86455547e3ebc08485cc80458df

If not, please reopen

[2016-10-16 10:09] #59 closed, assigned to nobody

[2016-10-16 10:12] pedrobaeza commented on #86
Mandatory partner forces to have a partner on each mailing list contacts, and creates one if doesn't exist when creating new records. It's useful when you need to have a res.partner linked for all your data (there are lots of these situations).

Partner Tag indicates which tag would the created partner has.

[2016-10-16 10:12] #86 closed, assigned to nobody

[2016-12-20 11:15] mamaf opened #124 "8.0 - mass_mailing_partner : only selected partners are moved in mailing list"
Hi,

When selecting a list of partners to add to a mailing list, defining search criteria and clicking on top selection checkbox, only the partners selected in the first page (80 by default) are selected.
It's not possible to select all partners matching search criteria, unless displaying all lines in the list, which could be difficult for a large selection.
Is it "normal" ?

[2016-12-20 11:16] pedrobaeza commented on #124
Change the limit of the pager to "Unlimited".

[2016-12-20 11:16] #124 closed, assigned to nobody

[2016-12-20 11:22] mamaf commented on #124
I tried this but I have more than 10.000 contacts in this list, it's very long to get an answer

And also, when we have duplicates in emails, the process stops
Is there a version of this module that could pass through duplicates (simply not creating them in the mailing list) ?

[2016-12-20 11:27] pedrobaeza commented on #124
It's the only way right now. Last version prevents duplicates.

[2016-12-20 12:11] rafaelbn commented on #124
Hi, I guess you load one time the 10K customers (res.parnets) to the list, isn't it? or do you load / update it recurring?

[2016-12-20 16:22] mamaf commented on #124
@pedrobaeza indeed, the last version accepts duplicates, but does it remove duplicates ?

@rafaelbn Yes, in one shot
But of course, I have a timeout
Can we update the list in a recurring way ?

[2016-12-20 16:35] pedrobaeza commented on #124
If I don't remember bad, there's a list at the end of the process that says that you have a duplicated partner or email, but I'm not sure about the second one.

You can fill your list by parts, of course.

[2016-12-20 16:43] rafaelbn commented on #124
As I remember, module don't import Partners with duplicate email address.

@mamaf
- if is one shoot then I recommend to add Partners to the list by 500 shot (you need 20 shots but It will work)
- If you need to update list " Can we update the list in a recurring way ?" the it's needed a development. We had an approach of what it must be done but by the moment no customer which pay it. The idea is

[2016-12-20 16:57] mamaf commented on #124
OK, I tested on a small list, the duplicates are not created, without error message, which is OK for me
For the user point of view, we cannot ask him to cut his list in packs of 500 or even 1000, it's time consuming, and the list will not be updated thereafter ...
Thanks for your answers, @pedrobaeza and @rafaelbn

[2016-12-21 16:12] rafaelbn commented on #124
@mamaf Take a look in https://github.com/OCA/social/tree/8.0/mass_mailing_unique

[2016-12-21 16:19] mamaf commented on #124
I already looked at it  ;-)
But it simply raises errors when duplicates : that's not what I want
But the actual Functioning of last version of mass_mailing_partner is OK for me (only the problem of big lists that could raise a timeout)

[2016-12-28 17:31] edser-pcg opened #125 "[9.0] crm_deduplicate_acl error"
When trying to use this module in v9 it returns the following error after you click on Combine Contacts on either option (manual, auto), which doesn't returns the error when it isn't installed. Privileges to user where all set.

Wanted to try this module to see if it would eliminate the limit of up to 3 contacts to merge at the same time.

[code]

[2016-12-28 17:33] pedrobaeza commented on #125
@cubells, can you please check it?

[2016-12-28 18:40] cubells commented on #125
Sure

[2017-01-14 11:02] #125 closed, assigned to nobody

[2017-03-09 22:54] rafaelbn commented on #103
Hi  @CarlesAntoli , could you test this fix for you issue?

https://github.com/OCA/crm/pull/137

[2017-03-09 23:04] rafaelbn commented on #103
I'm closing as this issue is fixed in https://github.com/OCA/crm/pull/137

[2017-03-09 23:04] #103 closed, assigned to nobody

[2017-04-24 21:30] berctain opened #139 "what about writing a letter with this module"
Hi
so i would say what about writing a letter with this module instead with only tracking physical letters and parcels?!
since its an erp system so this not look fine to typing a letter with office software's and booking it manually then just tracking that in erp solutions, it would be great to typing letter inside of this module and get a serial number for tracking wokflow and entering physcal le

[2017-04-25 00:41] pedrobaeza commented on #139
Which module? I don't understand what do you want to say. Is there any problem? Is this a wishlist?

[2017-04-25 09:44] berctain commented on #139
lettermgmt module, actually its a wishlist for me, but about module its not much far feature in same time

[2017-05-05 23:33] JordiBForgeFlow opened #141 "[RFC] Change visualization of crm.lead depending on the type"
Affected versions: 9.0, 10.0

Current situation:
When user belongs to group crm.group_use_lead (config option 'Use leads if you need a qualification step before creating an opportunity or a customer'). if you open an opportunity from a URL, such as http://3290757-10-0-453fe4.runbot2.odoo-community.org/web?reload#id=5&view_type=form&model=crm.lead, it displays as if it was a lead:

![image](https:/

[2017-05-05 23:38] JordiBForgeFlow commented on #141
@darshan-serpent what do you think about this?

[2017-05-06 09:31] ruifranco commented on #117
I've been testing the refactored v8's version of "letter management" in v10 and everything seems alright providing the creation of "ir.sequence.type" records in "data/letter_sequence.xml" is removed.

[2017-05-08 06:33] serpentcs-dev1 commented on #141
I checked the link, yes you are right it is an Opportunity and it opens as a lead, strange!

Although I checked on other runbot instance I guess it worked fine there. Please check Opportunity on this URL: http://226032-10-0-6921da.runbot10.odoo.com/web?debug=1#id=22&view_type=form&model=crm.lead&menu_id=371&action=500

edit : Yeah it will only work if you pass the action in the link

[2017-05-25 05:08] bimajatiwijaya commented on #117
Hi @pedrobaeza ,
I need your advice. I see on odoo10.0 module crm_claim was not exist.
How to migrate module which depend to crm_claim ?

[2017-05-25 07:17] pedrobaeza commented on #117
@bimajatiwijaya, there are 3 possible ways:

* Include a migration from Odoo's crm_claim module here in the repository.
* Merge needed objects from crm_claim repository in the main module crm_claim_rma and don't depend on it.
* Refactor crm_claim_rma to another thing not depending anymore on crm_claim, and maybe just call it `rma`.

[2017-05-25 09:13] bimajatiwijaya commented on #117
Ok thank you @pedrobaeza .

[2017-10-03 14:07] pedrobaeza opened #179 "Migration to version 11.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-11.0

# Modules to migrate

- [ ] calendar_resource - By @eilst - #224
- [ ] crm_action
- [x] crm_claim - By @oihane - #184
- [x] crm_claim_code - ~~By @pragyachhabra - #194~~ - By @pedrobaeza - #227
- [ ] crm_claim_type - By @larmar - #193
- [x] crm_deduplicate_acl - By @pedrobaeza - #187
- [x] crm_deduplicate_by_ref - By @

[2017-10-05 07:08] bodedra commented on #117
@pedrobaeza @max3903

Would you please remove my name from *crm_claim_code* module

PR: #171

[2017-10-05 13:28] bodedra commented on #117
PR #180 for crm_claim_type.

[2017-10-05 17:59] eqms opened #181 "How can I push?"
Hi,

how can I push changes(translations) or I just migrate crm_action from 8.0 to 10.0
I am already member of the OCA and listed as member in the OCA repository.

I want also help to migrate to 11.0 in different repositories?

[2017-10-06 04:36] elicoidal commented on #181
@eqms  Thanks for your interest to the OCA.
Let me introduce to you some basic information about contribution in OCA.

In practice, to get started you should:
* check the issue related to migration in the repo to check nobody is already migrating the module you plan to
* fork the main repository into your user
* apply the changes (migration, new module, correction)
* propose a PR back to the main

[2017-10-06 04:40] elicoidal commented on #181
One last thing: you need to sign a Contributor License Agreement for the code you submit. More information here: https://odoo-community.org/page/cla

I will close this issue but do not hesitate to reopen it if you have more questions

[2017-10-06 04:40] #181 closed, assigned to nobody

[2017-10-06 15:06] cubells commented on #117
@bodedra

From copyright header?

[2017-10-06 15:11] bodedra commented on #117
@cubells

I meant with above "Modules to Migration" list.

[2017-10-06 15:41] cubells commented on #117
Ok, sorry. @bodedra

[2017-10-07 10:00] pedrobaeza commented on #117
Main comment updated. FYI, we have rescued and migrate Odoo's crm_claim module.

[2017-10-25 11:13] jokr0815 opened #183 "[NEW] Make activities persistent as db record"
Hi,

this is a feature request according to https://odoo-community.org/page/specify

My idea:
- It should be possible to keep the finished activities in the database and not having them only as log entry. This would help to keep track of them with reports and start analysing. It should be possible to lock and unlock them.

Kind regards
Jo

[2018-01-08 14:46] melroy89 opened #191 "[BUG] CRM menu is not loaded at all"
Hi,

Impacted version: 11

The CRM module menu items stay hidden. Even though I have access to this menu, the permissions are correct.

The URL of Customer relation (CRM) ends with: `web#menu_id=215&action=315`. The `menu_d` 215  (`data-menu-parent="215"`) is present in the HTML contents.

As I said earlier the URL is `web#menu_id=215&action=315`, the `action` will (315, whatever that is?), will c

[2018-01-08 15:13] melroy89 commented on #191
I think I need to go to odoo/odoo github.

[2018-01-08 15:13] #191 closed, assigned to nobody

[2018-01-08 15:18] melroy89 commented on #191
Actually it's related to my theme (backend_theme): https://github.com/Openworx/backend_theme/issues/43

[2018-01-16 10:50] mgielissen commented on #191
The code for the sidebar is the same as for v10. In v11 it seems the previous topmenu is shown sometimes.

[2018-01-16 12:08] melroy89 commented on #191
@mgielissen
In v11 the *previous* topmenu is shown **always** whever you click on the **CRM** module using the backend_theme atleast. So whenever I click on an item before the CRM (doesn't matter which app), it will load that menu and stays at that menu. When I click on CRM, the CRM menu will not be loaded.

In fact if you use the website app (to design your own site), and then go directly to CRM.

[2018-02-14 11:00] axeforeverjumo opened #192 "How"
I dont know how to install this in my Odoo, first at all I am using Odoo 11, and when I tried to install CRM Phonecalls, I have an Error.

[2018-02-19 11:35] yajo commented on #192
Make sure your addon version matches your odoo version

[2018-02-19 11:35] #192 closed, assigned to nobody

[2018-06-05 06:31] clxadmin opened #203 "runbot test: - does not prevent for double booking"
I've just testet this module on runbot and it does not prevent for double booking any resource even if 'allow double booking' is disabled

does someone have the same experience on runbot?

[2018-06-05 07:36] pedrobaeza commented on #203
Which module? Which version?

[2018-06-05 08:39] clxadmin commented on #203
https://github.com/OCA/crm/tree/10.0/calendar_resource  branch: [10]

Runbot: https://runbot.odoo-community.org/runbot/111/10.0

[2018-06-05 10:33] pedrobaeza commented on #203
And why is going to prevent that? That's not a covered feature AFAIK

[2018-06-05 12:35] clxadmin commented on #203
I might do not understand the final goal of this module. I thought this module is about 'ressource reservation (example: meeting room) to a meeting in calendar. This is also what the feature listing is saiing about:
_>> This module can also prevent resources from being double-booked. Go to a resource and disable or enable Allow Double Booking (this is disabled by default)._

So I created a meeting

[2018-06-12 12:24] SalahAdDin opened #206 "[11.0][crm_claim]AttributeError: module 'odoo.addons' has no attribute 'base'"
Testing the `odoo` connection behind `serveo` i got this problem:

[code]

Why?

[2018-06-12 12:27] pedrobaeza commented on #206
Hi, this seems something related to your deployment, as all the recent builds are correctly deployed in runbot (http://runbot.odoo-community.org/runbot), so please be sure you are following the proper installation instructions. Check them on https://www.odoo.com/documentation/11.0/setup/install.html.

[2018-06-12 12:27] #206 closed, assigned to nobody

[2018-07-03 12:59] SalahAdDin opened #210 "[11.0][crm_claim]AttributeError: module 'odoo.addons' has no attribute 'base'"
Hello,

I'm testing some modules from this repository, i hadn't problem before update the repository locally, all was well.

But i did need clear my database; after do that an try to create a new system i get a problem with the new addon in this repository:

[code]

Again, I did the next:

1. I put down all system containers: `odoo`, `db`.
2. I destroyed all containers.
3. I restarted all containe

[2018-07-04 06:33] yajo commented on #210
Hi there!

Thanks for taking the time to report the problem, but **it seems like this is not exactly a bug** in this project's code. It is more likely a problem on your specific deployment, instance or configuration.

OCA and the wider Odoo community have different help sources for such problems. Just to suggest a few:

- A mailing list [from OCA](https://odoo-community.org/groups) or [from Odoo](

[2018-07-04 06:33] #210 closed, assigned to nobody

[2018-07-04 09:18] SalahAdDin commented on #210
@Yajo, why? I can't understand it, I have no problem with other all apps that I have, but I have with this addon.

Why is this a problem with my instance?

And also, I'm sorry for duplicating this issue: https://github.com/OCA/crm/issues/206
I changed my `Odoo` instance and `Dockerfile` and I get the same issue yet; I did change the version yesterday to last nightly building.

[2018-07-04 09:22] pedrobaeza commented on #210
@SalahAdDin please stop putting issues provoked by your deployment style. It's not the first one you put, and all have been on your side. This was the same problem: https://github.com/OCA/crm/pull/190#issuecomment-357605717

[2018-07-04 10:15] yajo commented on #210
If you cannot reproduce in runbot, 99% of the time it's a deployment issue.

[2018-07-11 14:10] SalahAdDin commented on #210
Ok, but, why have i this issue only with this module? i haven't this problem with any other module.

And, in a docker instance we have the base addons in this path `usr/lib/python3/dist-packages/odoo/addons/`.

[2018-07-17 09:53] alv97 opened #215 "Server error when merging partner if an abstract model has a reference field in the registry"
**Impacted versions**: v8

**Steps to reproduce:**
have an abstract model with a reference field

**Current behavior:**
SQL exception (search on non existing table due to the abstract nature of the model)

**Screenshots:**

First select the contacts to merge like this:

![errormergeclient](https://user-images.githubusercontent.com/15813990/42809930-ffa98ace-89b6-11e8-95a0-b8feb2cc86d9.png)

after

[2018-07-31 04:53] nogueira-raphael opened #216 "crm_claim: date_close"
The date_close field of the crm_claim module is invisible and does not function in the template changes the value of this field. What would be the logic to finalize a claim, or this is at the discretion of who uses the module to customize.

[2018-07-31 05:16] pedrobaeza commented on #216
Not used right now.

[2018-07-31 05:16] #216 closed, assigned to nobody

[2018-08-17 13:48] berctain opened #219 "Migrating Letter Management to v11"
Hello,
any one can help me to migrating lettermgmt v10 to v11?
I downloaded the last ver and putted it to module folders and changed all openerp values to doo
and now when i try to install it i get this error that there is no res.letter model exist
any help for next step will be great
this is the track content

-----------------------------------------------------------------

error:
Odoo Server E

[2018-08-17 17:56] pedrobaeza commented on #219
Try to follow https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-11.0, but this task is quite technical and if you are not able to understand thrown errors, I'm afraid you need to know more about Odoo development.

[2018-08-17 17:56] #219 closed, assigned to nobody

[2018-08-31 08:06] geluboros commented on #117
Hi @pedrobaeza ,

Since the crm_action PR was not continued, we created a new PR #211, migrating directly from the updated module in v9 to include all functionality.

Could you update the migration list ?

Thanks.

[2018-08-31 08:32] pedrobaeza commented on #117
@gboros-rgbconsulting main comment updated, thanks.

[2018-09-21 07:58] DarioLodeiros opened #229 "[RFC] Discusion about HelpDesk RoadMap"
I will put here some features or changes about #225 to improve the HelpDesk:

- [ ] Make helpdesk independent of CRM. As in the Enterprise edition, I think that the help desk is a new area on its own. (We can connect this with crm or project throught other optional modules)

- [ ] Expand views for ticket management (Add Dashboard, kanban and pivot views for support teams)

- [ ] Add mail alias fea

[2018-09-21 08:02] DarioLodeiros commented on #229
About the first proposal (helpdesk indenpendent of CRM): I think that is important take this decision before continuing. Why we need use things like[ lost oportunity reason](https://github.com/OCA/crm/pull/225/files#diff-1a79fdb8cc5d474742aa102e8dfb16fdR57) on a ticket? I do not think it is necessary for a company to have a commercial department to have support equipment ...?

[2018-09-21 12:10] pedrobaeza commented on #229
In v11 portal is included in core `web` module, so no need for an extra module depending on website.

[2018-09-21 12:16] MiquelRForgeFlow commented on #229
I would do that for v12 with a proper rename of the module.

[2018-09-21 16:30] DarioLodeiros commented on #229
@mreficent Ok!, I really prefer a independt module, but if you think that is best make it on v12... grrr xD but ok! ;P
@pedrobaeza , but we need make the ticket cursomer logic in the portal... I changed the description :)

[2018-09-21 21:24] JordiBForgeFlow commented on #229
@mreficent there's no point to mwrge crm_helpdesk in v11, v10 and v9 if we are considering a new model.

In what version do you need it?

Are you coming to OCA Days? Perhaps it would be a good place to discuss

It is more important to build into the right model than to try to stick to something that exists today but is not as good. Because you can always migeate into the new model if needed.

[2018-09-21 21:25] JordiBForgeFlow commented on #229
Dario, are you comkng to OCA Days?

[2018-09-21 21:36] DarioLodeiros commented on #229
No... I cant :(
Anyway... The change is only change the menu item (site it in main menu) and break the crm teams relations (replace them with a own supporr team model...) I think that is a little but important change.

[2018-09-27 00:05] OCA-git-bot opened #232 "Migration to version 12.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-12.0

# Modules to migrate

- [x] crm_claim - By @cristinamartinrod - #246
- [x] crm_claim_code - By @elrodo1 - #266
- [x] crm_claim_type - By @Tardo - #284
- [x] crm_deduplicate_acl > partner_deduplicate_acl - By @victormmtorres - OCA/partner-contact#721
- [x] crm_deduplicate_by_ref > partner_deduplicate_by_ref - By @chiena

[2018-10-02 13:26] pedrobaeza commented on #215
Which module? Can you make the PR?

[2018-11-06 08:20] Martronic-SA opened #235 "crm_phonecall_summary_predefined breaks crm_phonecall_timesheet"
This happens when creating a phone call from the "Logged Calls" Menu.
Error : a mandatory field is required: name. (but not name in the phone call, name in the analytic line)

crm_phonecall_timesheet creates an analytic line from the phonecall.
In the analytic line, the field 'name' is mandatory.
in the crm_phonecall_summary_predefined module, the name is replaced by the name related to the summar

[2018-11-06 08:37] pedrobaeza commented on #235
The idea of the module is to not allow free texts, but for solving the problem, you only need to add the same onchange you are telling to add.

[2018-11-06 08:38] Martronic-SA opened #236 "crm_phonecall_summary_predefined breaks crm.phonecall2phonecall wizard"
summary_id field is missing in the phonecall2phonecall wizard.
As the summary_id is mandatory and not set through the wizard, it returns a mandatory field error.
see the code [here](https://github.com/OCA/crm/blob/11.0/crm_phonecall/wizard/crm_phonecall_to_phonecall.py#L54)

[2018-11-06 08:39] pedrobaeza commented on #236
Please add that value in the wizard in a PR.

[2018-11-06 08:49] Martronic-SA commented on #236
@pedrobaeza unfortunately the action_schedule method [here](https://github.com/OCA/crm/blob/11.0/crm_phonecall/wizard/crm_phonecall_to_phonecall.py#L54) has to be overridden
and the same for schedule_another_phonecall method [here](https://github.com/OCA/crm/blob/11.0/crm_phonecall/models/crm_phonecall.py#L137) as it doesnt accept extra parameters (getting the new phonecall values shoud be in a se

[2018-11-06 09:04] Martronic-SA commented on #235
@pedrobaeza Unfortunately only the onchange method id not helping.
If you look [here](https://github.com/OCA/hr-timesheet/blob/10.0/crm_phonecall_timesheet/models/crm_phonecall.py#L39) as long as 'name' is readonly field, it's not passed to the vals and it's still not set in "self" (because the analytic line creation takes place before the phonecall creation), so 'name' is False

[2018-11-06 09:06] pedrobaeza commented on #235
Which version?

[2018-11-06 10:17] Highcooley opened #237 "Calendar Resources - Show Resource's Calendar"
How is it possible for the calendar users to see the resource's calendar in order to check, when a certain resource is available without trial and error to book it.

[2018-11-06 10:34] pedrobaeza commented on #237
Sorry, this is not an issue, but a question. You should make it on Odoo official forums (https://www.odoo.com/forum/help-1) or mailing lists (https://odoo-community.org/groups), but not here.

Closing this by the reason above.

[2018-11-06 10:34] #237 closed, assigned to nobody

[2018-11-06 14:55] Martronic-SA commented on #235
v10.0

[2018-11-08 00:02] pedrobaeza commented on #235
On that version we can't use a trick... then what I'm thinking is to add manually the value of name in vals dictionary in create/write before calling super.

[2018-11-08 09:22] pedrobaeza commented on #236
I think you can tweak it passing by context the value and overwriting create method for adding that value in the context.

[2018-11-22 18:39] bodi000 opened #240 "[9.0] crm_phonecall error on install"
Hello,

While trying to install **crm_phonecall**, I get this error, due to missing dependency `openupgradelib`. I dot think I should have this installed, so I file this bug.

Thank you,
B
[code]

I do not have much experience with OpenUpgrade, but it seems that the migration part included in the crm_phonecall module is not following the general approach, as openupgrade.rename_xmlids is always cal

[2018-11-22 19:00] bodi000 commented on #240
I do not have much experience with OpenUpgrade, but it seems that the migration part included in the crm_phonecall module is not following the general approach, as openupgrade.rename_xmlids is always called from inside OpenUpgrade, not from the modules proper.

any idea?

[2018-11-22 20:38] pedrobaeza commented on #240
openupgradelib is not the same as OpenUpgrade: this is a Python library that includes common utilities for Odoo data structures handling. It's useful for OpenUpgrade, but also for migrating between minor versions or even for several processes.

You can install it with `pip install openupgradelib`. We can do 2 things for being this bullet-proof:

* Add code in migration script for detecting before

[2018-11-23 09:16] gva-acsone opened #241 "Adding a Parent-Child hierarchy on Sales Teams"
Hello,

I'm actually missing a notion to indicate that a Sales Team is part of another Sales Team (ex: Sales Team Berlin is part of Sales Team Germany).
Therefore, we would like to add a 'Parent' field on the Sales Team form. It can afterwards be used in the reports to look at the pipeline / sales at parent level...

@qgroulard will make a pull request for this.

[2018-11-23 09:40] sbidoul commented on #241
Module name suggestion: `crm_team_parent`

[2018-11-27 11:28] tbermudezstm commented on #117
This is the error that the server show to me in the migration process from the version 8 to the 10 version of the crm_claim module.

Lot of thanks, regards.

ProgrammingError: relation "crm_team_claim_stage_rel" does not exist
LINE 1: ..."crm_claim_stage"."id" in (SELECT "stage_id" FROM "crm_team_...

[2018-11-27 11:58] bodedra commented on #117
@tbermudezstm IMHO please create [new issue](https://github.com/OCA/crm/issues/new) with necessary details and steps.

[2018-11-27 12:11] tbermudezstm opened #243 "Error crm_claim Migration to version 10"
This is the error that the server show to me in the migration process from the version 8 to the 10 version of the crm_claim module.

Lot of thanks, regards.

ProgrammingError: relation "crm_team_claim_stage_rel" does not exist
LINE 1: ..."crm_claim_stage"."id" in (SELECT "stage_id" FROM "crm_team_...

[2018-11-27 20:04] sbidoul commented on #241
Done in #244

[2018-11-28 08:35] #241 closed, assigned to nobody

[2018-12-01 09:48] anandkansagra opened #248 "[11.0] crm_phonecall error on "Schedule Another Call""
There seems an error while `Schedule Another Call` from `CRM -> Phone Calls -> Logged Calls`
![1](https://user-images.githubusercontent.com/45279628/49326701-3cd2d500-f57c-11e8-8511-b16e9cfb877f.gif)

[2018-12-01 09:56] pedrobaeza commented on #248
Duplicate of #236

[2018-12-01 13:15] pedrobaeza commented on #248
It seems not duplicate it at all, so I reopen.

[2018-12-01 14:22] anandkansagra commented on #248
@pedrobaeza ,
I have fixed this thing in code migration in `12.0`
PR [Reference](https://github.com/OCA/crm/pull/247)

[2018-12-02 20:53] #248 closed, assigned to nobody

[2018-12-19 07:42] rven commented on #232
Working on upgrade of crm_lead_firstname

[2018-12-22 07:58] anandkansagra commented on #232
crm_phonecall_summary_predefined
#252

[2018-12-28 02:34] emagdalenaC2i commented on #232
There is a PR for the migration of crm_claim - By @cristinamartinrod - #246

[2018-12-28 02:51] emagdalenaC2i commented on #179
Please add to the list crm_deduplicate_by_website that is already merged - By @cristinamartinrod - #233
crm_sector is renamed as crm_industry and already merged - By @mreficent - #221
Please add to the list crm_meeting_commercial_partner that is already merged - By @lreficent - #239
There is a PR for the migration of calendar_resource - By @eilst - #224
There is a PR for the migration of crm_locat

[2018-12-30 16:53] moblesmarti commented on #232
Is there any reason why the module crm_lead_code is not in the list of modules to migrate?
If someone is interested in doing the job, you can contact me.
Thanks

[2018-12-30 18:16] emagdalenaC2i commented on #232
@moblesmarti maybe it isn't in the list because it is not migrated yet to version 11.0
You are welcome to migrate it
Thanks

[2019-01-06 20:48] emagdalenaC2i commented on #232
@pedrobaeza There is a PR for the migration of crm_claim - By @cristinamartinrod - #246

[2019-04-01 11:12] sync700uk opened #262 "install fail on odoo v12 CE"
Will not install on above version. Throws an exception stating that no such module is found. Script refers seems to v12 not v12.0.1.0.0 so install cannot find the module even though it is in the add-on folder

[2019-04-01 11:13] pedrobaeza commented on #262
Which module?

[2019-04-01 11:38] sync700uk commented on #262
Hi

CRM phonecall

Adrian Maudsley, MAAT

This email is strictly confidential and for the intended recipients only.
If you are not the intended recipient of this email or attachment you must
take no action based on it nor must you copy and show it to anyone else.
Please inform the sender if you have received this email in error

Vibas Ltd

On Mon, 1 Apr 2019 at 12:13, Pedro M. Baeza <notifications

[2019-04-01 11:43] pedrobaeza commented on #262
And what is the error?

[2019-04-01 11:57] sync700uk commented on #262
Hi
 Error report copied below :

Error:
Odoo Server Error

Traceback (most recent call last):
 * File
"/opt/bitnami/apps/odoo/lib/odoo-12.0.post20181218-py3.7.egg/odoo/http.py",
line 654, in _handle_exception*
*    return super(JsonRequest, self)._handle_exception(exception)*
*  File
"/opt/bitnami/apps/odoo/lib/odoo-12.0.post20181218-py3.7.egg/odoo/http.py",
line 312, in _handle_exception*
*    ra

[2019-04-01 11:59] pedrobaeza commented on #262
How are you installing it? Module name is not `crm_phonecall-12`, but `crm_phonecall`

[2019-04-01 12:07] sync700uk commented on #262
Hi

Unzipped the package. Transferred "as is" to the server Odoo add-on folder
and update app list in developer mode

Adrian Maudsley, MAAT

This email is strictly confidential and for the intended recipients only.
If you are not the intended recipient of this email or attachment you must
take no action based on it nor must you copy and show it to anyone else.
Please inform the sender if you have

[2019-04-01 12:08] pedrobaeza commented on #262
Then your method is incorrect. You have to respect the module name in the folder.

[2019-04-01 12:08] #262 closed, assigned to nobody

[2019-05-05 17:18] elrodo1 opened #267 "Lint error crm_claim"
https://travis-ci.org/OCA/crm/jobs/528492075

************* Module crm_claim.report.crm_claim_report
crm_claim/report/crm_claim_report.py:163: [E8103(sql-injection), CrmClaimReport.init] SQL injection risk. Use parameters if you can. - More info https://github.com/OCA/odoo-community.org/blob/master/website/Contribution/CONTRIBUTING.rst#no-sql-injection

[2019-05-05 20:33] #267 closed, assigned to nobody

[2019-06-01 18:54] jbgraffiti opened #276 "Question Performance after install of mass_mailing_partner"
Hello. So it's been a couple of days since installing the module on our sandbox

We have about 10000 partner records and I have noticed that certain periods the server slows down a lot - response times of page refreshes both front end and back end are increased to 20- 30 seconds.

I have deleted spare databases and gone from a T2.small to T2.medium on aws and still get the same issue. it seems to

[2019-06-02 20:56] pedrobaeza commented on #276
The module you mention is not from this repository, but OCA/social. Please put the issue there and indicate the Odoo version.

[2019-06-02 20:56] #276 closed, assigned to nobody

[2019-06-11 17:43] sharpelectronics opened #282 "Example Sales Team name is missing a space"
This is a training database on Odoo 12.0e (Enterprise Edition). Then if you go to CRM - Configuration - Sales Teams - Create, in the field for Sales Teams Name, there is a grey sales team name example that says "Salesteam name...". I believe that this should read" Sales Team name..."

![Annotation 2019-06-11 113648](https://user-images.githubusercontent.com/51717377/59293883-6e201200-8c3d-11e9-9dd

[2019-06-11 17:45] pedrobaeza commented on #282
What you are talking about is Odoo standard, not any module in this repository. Go to odoo/odoo.

[2019-06-11 17:45] #282 closed, assigned to nobody

[2019-09-29 21:31] OCA-git-bot opened #295 "Migration to version 13.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-13.0

# Modules to migrate

- [ ] crm_claim
- [x] crm_claim_code - ~~By @newtratip - #313~~ By @ernestotejeda - #379
- [ ] crm_claim_type
- [x] crm_industry - By @skeller1 - #334
- [x] crm_lead_code - By @murtuzasaleh - #296
- [ ] crm_lead_firstname
- [ ] crm_lead_product
- [x] crm_lead_vat - By @newtratip - #309
- [ ] crm_l

[2019-09-30 09:42] murtuzasaleh commented on #295
crm_lead_code #296

[2019-11-14 12:05] usmanfarzandali opened #299 "Lead Line Product V12"
Odoo Server Error
Traceback (most recent call last):
  File "/odoo12c/odoo12c-server/odoo/http.py", line 656, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/odoo12c/odoo12c-server/odoo/http.py", line 314, in _handle_exception
    raise pycompat.reraise(type(exception), exception, sys.exc_info()[2])
  File "/odoo12c/odoo12c-server/odoo/tools/pycompat.

[2019-11-14 13:36] bodedra commented on #299
@usmanfarzandali which module and are you able to reproduce it on runbot?

[2019-11-15 07:23] usmanfarzandali commented on #299
where i face this isssue is ...
when i open CRM -----------> Reporting --------------> Pipeline by product
report open -------------> then i go to Tree View/View List and open any form as oper open form i face this issue ....
===================================================
raise TypeError("%s (field %s) must be string or datetime, not date." % (value, self))
TypeError: 2019-09-20 (field crm.pr

[2020-02-19 11:06] ludolelarge commented on #295
crm_claim

[2020-03-09 11:48] newtratip commented on #295
crm_lead_firstname https://github.com/OCA/crm/pull/308

[2020-03-09 11:55] newtratip commented on #295
crm_lead_vat https://github.com/OCA/crm/pull/309

[2020-03-16 15:55] flachica commented on #295
I migrate crm_claim <s>#311</s> <s>#315</s> #316

[2020-03-17 07:18] simahawk commented on #295
@flachica feel free to take over or replace the work done here https://github.com/OCA/crm/pull/304
It's not linked here because is not in good shape yet.

[2020-03-18 15:41] flachica commented on #295
pre-commit run -a fail saying `$HOME/.cache/pre-commit/reposly06dak/py_env-python3/bin/python: No module named pip`

If I copy pre-commit configuration files from management-system all run correctly. With OCA/knowledge is the same. How I can comunicate this?

[2020-03-18 15:42] flachica opened #310 "Pre-commit run -a fail"
pre-commit run -a fail saying `$HOME/.cache/pre-commit/reposly06dak/py_env-python3/bin/python: No module named pip`

If I copy pre-commit configuration files from management-system all run correctly. With OCA/knowledge is the same. How I can comunicate/solve this?

[2020-03-18 15:48] pedrobaeza commented on #310
The problem is in your local. You don't have pip available. Maybe `sudo apt-get install python3-setuptools` fix it if you are in Ubuntu 18.04. Any way, the problem is outside this scope.

[2020-03-18 15:48] #310 closed, assigned to nobody

[2020-03-18 16:47] flachica commented on #295
I used that PR to compare with my code. But I preferred to start from the beginning.

[2020-03-19 04:34] newtratip commented on #295
Working on `crm_location`

[2020-03-22 19:32] flachica commented on #310
Thanks for the hint despite leaving the scope of the project. I had disparate versions of python 3 installed, I uninstalled them and left only one. Also, I went through all the symbolic links and there was something wrong. Let's continue contributing our grain of sand.

[2020-04-26 15:12] skeller1 commented on #295
`crm_sale_marketing` is obsolete, Odoo 13 `sale_crm` addon now implements it in the model with all the default values [(Code in sale_crm addon)]( https://github.com/odoo/odoo/blob/b7d5d5b47c34c188fe272e027cc5a1ce40a515f2/addons/sale_crm/models/crm_lead.py#L71)
[related MR in Odoo](https://github.com/odoo/odoo/commit/4c9c249cc398d42e93939646e1237a1d0ff61166#diff-fee3bd80e57157fa72f105b7b38bd832)

[2020-04-26 18:01] skeller1 commented on #295
`marketing_crm_partner` #321

[2020-05-02 17:35] skeller1 commented on #295
`crm_stage_type` #323

[2020-05-06 10:30] HaraldPanten commented on #295
Hi,

I'll start working on crm_lead_product

[2020-05-06 11:34] HaraldPanten commented on #295
https://github.com/OCA/crm/pull/324 crm_phonecall_summary_predefined

[2020-05-13 14:55] skeller1 opened #332 "[12.] crm_phonecall_planner: improve inheritance crm_phonecall"
Hi,
at the moment it's not possible to use crm_phonecall, crm_phonecall_summary_predefined and crm_phonecall_planner at the same time in Odoo 12.0 without problems.

In PR #327 inheritance of crm_phonecall 13.0 has been improved.
Is this breaking change also allowed in V12?

I would like to do some PR's for all the 3 mentioned addons in 12.0.

[2020-05-13 17:54] pedrobaeza commented on #332
Which kind of breaking changes?

[2020-05-13 17:58] skeller1 commented on #332
Like in the pull request #327 changing  def schedule_another_phonecall()
Thank you

[2020-05-13 18:01] pedrobaeza commented on #332
Adding a hook seems something feasible.

[2020-05-14 07:24] skeller1 commented on #332
I willl prepare the PR's

Thank you

[2020-05-14 07:24] #332 closed, assigned to nobody

[2020-05-16 21:33] skeller1 commented on #295
`crm_meeting_commercial_partner` #333

[2020-05-28 14:00] tonygalmiche commented on #295
Update to do:
- crm_lead_firstname : https://github.com/OCA/crm/pull/305
- crm_lead_product : https://github.com/OCA/crm/pull/303
- crm_location : https://github.com/OCA/crm/pull/312

Thank you in advance

[2020-06-13 11:47] mamcode commented on #295
crm_claim_type #339

[2020-06-22 07:36] rjay1018 opened #340 "Error during installation of crm_phonecall"
![image](https://user-images.githubusercontent.com/5526244/85260955-15b16080-b49e-11ea-96f9-e060bdb9a8a8.png)

[2020-06-22 07:38] pedrobaeza commented on #340
You should have an altered Python environment, as the multi decorator is there:

https://github.com/odoo/odoo/blob/39c9ac02d42a9280caf41770efd2f91d096b52cf/odoo/api.py#L335

Maybe you are using Odoo v13.

[2020-06-22 07:38] #340 closed, assigned to nobody

[2020-06-22 07:52] rjay1018 commented on #340
okay my bad, ill go check it. thanks @pedrobaeza

[2020-06-23 22:27] mamcode commented on #295
I'm working on crm_location_nuts #341

[2020-07-16 17:02] victoralmau opened #344 "[12.0] [crm_claim] Sale_orders link to claim_id and auto-invoice stock_picking to out_refund invoices?"
There are 2 ideas that may be useful:

- To the sale_orders add a claim_id field related to crm_claim, in such a way that by means of a button inside each crm_claim, orders linked to that claim could be created. Also, there would be a different numbering sequence for these orders.

- If we add a field in the crm_claim_category of auto-invoice, it could be done that for each incoming stock_picking

[2020-07-16 17:13] pedrobaeza commented on #344
We have abandoned crm_claim in favor of a more complete RMA management in https://github.com/OCA/rma

[2020-07-17 06:43] victoralmau commented on #344
Ok, thank you very much, I am going to review in detail the new RMA system and try to change it to the one currently used (crm_claim) adjusting any other dependencies (such as auto-invoicing merchandise entries-returns- if those addons do not have it already developed)

[2020-07-18 12:24] farazbdm opened #346 "crm_lead_product if more than 1 product added to lead, the result on analysis (cr.product.report) is corrupted"
![image](https://user-images.githubusercontent.com/10349579/87852449-22956880-c913-11ea-8e54-16a91e239668.png)
![image](https://user-images.githubusercontent.com/10349579/87852456-3345de80-c913-11ea-87bb-5217707817c2.png)

[2020-07-18 13:36] farazbdm commented on #346
maybe its version issue i am installing on odoo10 and this module is for v11, but can please some1 assist or hint on the issue.

[2020-07-18 13:37] farazbdm commented on #346
@pedrobaeza i will be thankful

[2020-07-18 14:53] pedrobaeza commented on #346
It's something expected that the module for a version doesn't work properly into another version, so closing this. Please use the proper version for the module.

[2020-07-18 14:53] #346 closed, assigned to nobody

[2020-07-23 06:39] victoralmau commented on #344
Ok, thank you very much, looking at everything VERY in detail I think it has almost everything that we are currently using with crm_claim so we will move on to using it

[2020-07-23 06:39] #344 closed, assigned to nobody

[2020-08-31 15:34] alexandreduf opened #354 "The crm_lead_vat's description could be more precise"
Hi,

I'm referring to this module : https://github.com/OCA/crm/tree/13.0/crm_lead_vat

The description says "This module was written to extend the functionality of CRM leads to support setting the VAT."

I would detail what "VAT" means. I guess it's "Value added tax".
Writing "VAT (value added tax)" would be easier for people (who come from all over the world and speak multiple languages) to under

[2020-08-31 15:36] pedrobaeza commented on #354
It's VAT identification number (https://en.wikipedia.org/wiki/VAT_identification_number), and it's usually called only as VAT in lot of places. Anyway, please do a PR for improving the description with such long name:

https://odoo-community.org/page/Contribute

[2020-08-31 15:36] #354 closed, assigned to nobody

[2020-08-31 15:42] alexandreduf commented on #354
Hi,

I'm sorry, but I was told elsewhere on Github that PR weren't to be used for such comments and that I should use "issues" instead. So I don't know where to post comments anymore.

Furthermore, I still think that adding 3 words to make it more clear would help (and it wouldn't cost much).
As a French speaker, I had to Google the expression and I found "value added tax" instead...

[2020-08-31 15:46] pedrobaeza commented on #354
I told you about creating the PR adding that 3 words, but OK, I have done it: eecbb5a9b3bb3b775d4aa4685e44e4cd0f003544

[2020-08-31 15:48] alexandreduf commented on #354
Oh sorry, I think I didn't understand what you meant.
Thanks for the help!

[2020-10-04 10:23] OCA-git-bot opened #356 "Migration to version 14.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0

# Modules to migrate

- [ ] crm_claim
- [ ] crm_claim_type
- [x] crm_industry - By @LudLaf - #398
- [x] crm_l10n_eu_nace - By @ernestotejeda - #417
- [x] crm_lead_code - By @newtratip - #365
- [x] crm_lead_firstname - By @redapureskill - #367
- [ ] crm_lead_product
- [ ] crm_lead_vat
- [x] crm_location - By @redapuresk

[2020-10-27 15:51] voronind opened #362 "CRM Phonecall: convert opportunit useless code"
In `crm_phonecall` module there is code in `models/crm_phonecall.py` that do nothing. v10-13
[code]

[2020-10-27 15:54] pedrobaeza commented on #362
Why do you say it's doing nothing?

[2020-10-28 07:08] voronind commented on #362
`partner.address_get()` always returns `{'contact': False}`. `default_contact` is always `False`.

[2020-10-28 07:44] pedrobaeza commented on #362
I don't think so. It depends on your contacts data.

[2020-10-28 07:48] voronind commented on #362
`partner` is empty recordset

ср, 28 окт. 2020 г. в 11:44, Pedro M. Baeza <notifications@github.com>:

[2020-10-28 08:01] pedrobaeza commented on #362
OK, then do a PR changing the code to make sense.

[2020-10-30 01:53] kurtbinspired opened #363 "crm_stage_type error"
In crm_lead.py, line69:
[code]
Causes following error:
psycopg2.ProgrammingError: can't adapt type 'crm.stage'

Should be:
[code]

[2020-11-05 14:42] redapureskill commented on #356
**crm_phonecall** on #364

[2020-11-06 10:28] newtratip commented on #356
`crm_lead_code` https://github.com/OCA/crm/pull/365

[2020-11-07 05:46] newtratip commented on #356
`crm_stage_type` https://github.com/OCA/crm/pull/366

[2020-11-07 10:43] redapureskill commented on #356
@rousseldenis can you please change
crm_phonecall from #361 to #364  , you can review #364  too 💯

[2020-11-12 11:21] dreispt opened #369 "[RFC] crm_lead_type: Lead Type, for product type/line of business analysis"
# Description

Lead Types allow to segment lead by product types or lines of business. It provides a second analysis dimension in addition to the Sales Team.

This is the same concept also available for Sales Orders, with [`sale_order_type`](https://github.com/OCA/sale-workflow/tree/13.0/sale_order_type)

# Configuration

The Sales Manager can configure the available Lead Types in the CRM App > Co

[2020-11-15 18:55] redapureskill commented on #356
@rousseldenis
`crm_location`       #372
`crm_claim`           #370
`crm_calim_type`     #371
`crm_lead_vat`       #368

[2021-04-08 06:50] fshah-initos commented on #356
@OCA/crm-sales-marketing-maintainers
There are two PR's #368 and #370 is ready to merge can you please help us to get merge this PR's.

[2021-04-08 08:24] redapureskill commented on #356
i squached the commits, i'm getting errors from a merged module 'crm_lead_firstname' !!!

[2021-04-30 04:33] #363 closed, assigned to nobody

[2021-05-28 14:42] anabeladamas opened #393 "[v13] crm_claim_type error"
When updating (-u all) database I get this error:
"Field 'claim_type' used in attributes must be present in view but is missing:

'claim_type' in domain="[ '&','|',('team_ids', '=', team_id), ('case_default', '=', True), '|',('claim_type', '=', claim_type),('claim_common', '=', True)]""

[2021-06-08 09:43] redapureskill commented on #356
update!

[2021-06-29 07:28] ygol opened #396 "[14.0] [crm_lead_firstname] First name not always propagated to contact"
Not sure if this is a bug or missing feature.
when using the module, the first and last name are not always propagated. In fact the only case when it is propagated is when using the "lead" option and clicking on "convert to opportunity" and choosing to create a partner.

There are two other cases that are often used:

1. sending a message which offer a wizard to create the partner
2. editing the o

[2021-06-29 08:53] ygol opened #397 "[crm_industry] [TBD] List of use cases to propagate industry between partner and lead"
# List of cases where we want industry propagation:
- case1: from a contact click on opportunity smart button and create an opportunity
- case2: from crm kanban click on create. if partner, get industry with other existing values

- [X] case3: from lead click on convert to opportunity and choose create partner -- **already works**

- case4: from opportunity edit and create partner
- case5: from ch

[2021-07-01 10:19] skeller1 commented on #356
crm_meeting_commercial_partner: obsolete, implemented in 14.0 crm addon

Tested on Odoo Runbot 14.0 with:

1. 2 default meetings for Azure Interior => COUNT 2
2. 1 extra meeting for Brandon together with Colleen COUNT 1
3. 1 extra meeting for Colleen without Brandon COUNT 1

Result = Meeting COUNT for Azure Interior = 4

![grafik](https://user-images.githubusercontent.com/226753/124107079-28715480

[2021-08-19 08:29] aymenrahmay opened #401 "The crm_lead_product module will be migrated to the 14 version !!"
Hello,
We are using the **crm_lead_product** module on the 11 version and we are migrating to the 14 version.
We are wondering if this module will be migrated or not ?
If yes, is there any planned date ?
Thanks

[2021-08-19 10:48] pedrobaeza commented on #401
Follow #356, but no news for now.

[2021-08-19 10:48] #401 closed, assigned to nobody

[2021-09-17 14:05] fredzamoabg commented on #356
created new PR for `crm_claim_type` module (https://github.com/OCA/crm/pull/402)
basically same as https://github.com/OCA/crm/pull/371 with 14.0 rebase

[2021-10-08 07:59] victoralmau commented on #356
`crm_project` https://github.com/OCA/crm/pull/403

[2021-10-17 10:14] OCA-git-bot opened #404 "Migration to version 15.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-15.0

# Modules to migrate

- [x] crm_claim - By @bizzappdev - #421
- [x] crm_claim_code - By @RogerSans - #578
- [x] crm_claim_type - By @LudLaf - #430
- [ ] crm_industry
- [ ] crm_lead_code
- [ ] crm_lead_firstname - By @XanderDeMatteis - #441
- [ ] crm_lead_product - By @vvanneri-ia - #450
- [x] crm_lead_vat - By @stefan-

[2021-10-22 06:08] santostelmo commented on #404
Hi I will start migrating crm_lead_code https://github.com/OCA/crm/pull/406

[2021-11-28 12:28] #58 closed, assigned to nobody

[2021-11-28 12:28] #117 closed, assigned to nobody

[2021-11-28 12:28] #139 closed, assigned to nobody

[2021-11-28 12:28] #141 closed, assigned to nobody

[2021-12-09 14:10] SilvioC2C commented on #404
Migrating `crm_industry` https://github.com/OCA/crm/pull/413

[2021-12-19 12:30] #179 closed, assigned to nobody

[2021-12-26 12:30] #183 closed, assigned to nobody

[2022-01-16 12:31] #203 closed, assigned to nobody

[2022-01-16 12:31] #215 closed, assigned to nobody

[2022-01-23 12:28] #229 closed, assigned to nobody

[2022-01-23 12:28] #232 closed, assigned to nobody

[2022-01-23 12:28] #235 closed, assigned to nobody

[2022-01-30 12:27] #236 closed, assigned to nobody

[2022-01-30 12:27] #240 closed, assigned to nobody

[2022-02-06 12:27] #243 closed, assigned to nobody

[2022-02-10 11:33] bizzappdev commented on #404
crm_location #422
crm_claim #421
crm_lead_vat #420
crm_project #419
crm_lead_firstname #418

[2022-03-13 12:30] #299 closed, assigned to nobody

[2022-03-27 12:31] #362 closed, assigned to nobody

[2022-04-10 12:32] #295 closed, assigned to nobody

[2022-04-17 12:32] #369 closed, assigned to nobody

[2022-05-01 20:24] zeintiz opened #427 "Compatibility with version 13"
hi . could we install this module on odoo 13 enterprise?

is it Compatibile with odoo 13 enterprise?

tankx in advance.

[2022-05-01 20:33] pedrobaeza commented on #427
Which module? If it's available in such version, then you can install it on both community and enterprise. Closing as no issue.

[2022-05-01 20:33] #427 closed, assigned to nobody

[2022-05-08 12:34] #393 closed, assigned to nobody

[2022-05-22 12:35] #396 closed, assigned to nobody

[2022-05-22 12:35] #397 closed, assigned to nobody

[2022-06-27 10:47] LudLaf commented on #404
Hi, I am migrating `crm_claim_type` to version 15.0 #430

[2022-08-24 15:29] vib-adhoc commented on #404
crm_stage_probability - [433](https://github.com/OCA/crm/pull/433)
Could you add this module to the list?

[2022-08-29 15:16] hossamassad opened #434 "CRM Lead Currency"
the v 14 upgrade

[2022-09-18 12:40] #356 closed, assigned to nobody

[2022-10-03 16:21] sbidoul opened #443 "Migration to version 16.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-16.0

# Modules to migrate

- [x] crm_claim - By @FernandoRomera - #468
- [x] crm_claim_code - By @aiendry-aktivsoftware - #499
- [x] crm_claim_type - By @SoporteOperu - #492
- [x] crm_industry - By @SoporteOperu - #493
- [x] crm_lead_code - By @jaenbox - #477
- [x] crm_lead_currency - By @keylor2906 - #502
- [x] crm_lead_fi

[2022-10-10 12:44] Doscaal opened #444 "[14.0] crm_lead_firstname: False positive match when convert lead"
## Module
crm_lead_firstname

## Describe the bug
When you convert a lead in opportunity, there is a look for a potential existing partner relevant.
By default, odoo look on the email and if we don't have a match it look on these criteria partner_name, contact_name, name of the lead.

This is good point but when we use the module crm_lead_firstname, the contact_name field is used to set the firstn

[2022-10-24 06:53] vvanneri-ia commented on #404
Can this #450 PR taken as replacement for crm_lead_product
Previous one seems not alive or active in commiting since july (#441)

[2022-11-22 11:05] XanderDeMatteis commented on #443
Can crm_lead_firstname be added to the list?

[2022-11-22 11:11] XanderDeMatteis commented on #443
I will migrate crm_lead_firstname to version 16.0: [XanderDeMatteis:16.0-mig-crm_lead_firstname](https://github.com/OCA/crm/pull/461)